<div class = 'container'>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('me.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>My name is Leonille Christie A. Lavador. I was born on December 27th of the year 1997 and I am a current student of the University of San Carlos taking up the program of Bacherlor of Science in Informtion Technology.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('cake.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>My hobbies include baking as well as eating whatever I manage to bake. I have started up a small online business in the early 2016 where I sell my baked goods and still manage it up to date.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('game.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>I also enjoy playing video games like most of the people my age. My favorite games to play fall under MOBA and MMORPG.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('creative.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>I took up the BSIT Program in pursuit of my aspirations to become a graphic designer and/or artist in hopes to create aesthetically pleasing applications and websites that could encourage others to take up an interest in programming as well.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('cosplay.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>Another hobby of mine is cosplaying. I first cosplayed back in 2011 and I am currently still attending Cosplay and Gaming Conventions but much lesser now because of having to prioritize studies.</p>
		</div>
	</div>
	<div class = 'row tile'>
		<div class = 'col-md-4 tile-icon'>
			<%= image_tag('graduate.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>With that having been said, my current short-term goal now is to graduate on time. Being able to hold a degree for me, is a huge step to be able to reach my aspirations.</p>
		</div>
	</div>

	<div class = 'col-md-4 tile-icon'>
			<%= image_tag('contact.png', :class => 'about-img center-block') %>
		</div>
		<div class = 'col-md-8 tile-body'>
			<p>Contact me at: leonillechristie@gmail.com</p>
		</div>
</div>